<div style="display: flex;text-align: center;justify-content: center;align-items: baseline">
    <img style="width:calc(120px/2);height:calc(255px/2)" src="/images/fire.png">
    <h1 style="color: #a02342"><strong>D&D</strong></h1>
</div>

{{#if questions}}
{{> test}}
{{else}}
{{> result}}
{{/if}}
