
<script>

    let memoryCache = new Map();

    window.onload = ()=>{
        let forms = document.getElementById("rootQuestion").getElementsByTagName("form");
        for (let [key,form] of Object.entries(forms)) {
            let title = form.children[0].textContent;

            let elements = form.elements;
            for (let [key,value] of Object.entries(elements)) {
                if (value.checked === true) {
                    memoryCache.set(title,key);
                }
            }
        }
    };

    let onClickRadio = (elem) => {
        let form = elem.parentElement.parentElement;
        let title = form.children[0].textContent;


        let elements = form.elements;
        for (let [key,value] of Object.entries(elements)) {
            if (value.checked === true) {
                memoryCache.set(title,key);
            }
        }
    }
</script>

<div id="rootQuestion">
    {{#each questions as |question|}}

        <form style=
        "background-color: whitesmoke;
        padding: 10px;
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
        border-radius: 20px;">
            <h4>{{question.title}}</h4>
        {{#each question.answers as |answer|}}
            <label>
                <input type="radio" name="{{question.title}}" onclick="onClickRadio(this)">
                {{answer}}
            </label>
        {{/each}}
        </form>

    {{/each}}
</div>

<button style="position: fixed; top: 90%;right: 10%; background-color: #a02342;color: whitesmoke"> Ok </button>
